<% if signed_in? %>
  <div class="row">
    
    <aside class="col-md-4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      
      <section>
      　　<%= render 'shared/driver_post_form' %>
      </section>

    </aside>
    
    <div class="col-md-8">
      <h3>Driver</h3>
      
    <!-- ここに登録されたDriverの一覧が表示される　-->
    
    </div>
    
  </div>
<% else %>

  <body style="background-image:url(<%= asset_path "tsuno.jpg" %>)" />
  
    <h1>どこ行く？</h1>
  
    <%= link_to "Sign up now!", new_user_registration_path , class: "btn btn-lg btn-primary" %>
    
  </body>

<% end %>