<h1>トピック一覧</h1>

<ul>
<% @topics.each do |topic| %>
  <li>
    <%= link_to topic.title, topic %>：
    <%= link_to '削除', topic, method: :delete, data: { confirm: '本当によろしですか？' } %>
  </li>
<% end %>
</ul>

<br />

<%= link_to '新しいトピック', new_topic_path %>