<% provide(:title, 'Registered Drivers') %>
<h1>Registered Drivers</h1>

<%= will_paginate renderer: BootstrapPagination::Rails %>

<ul class="driver_post">
  <%= render @driver_post %>
</ul>

<%= will_paginate renderer: BootstrapPagination::Rails %>