<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
        <p>ニックネーム <%= @user.nickname %></p>
    </section>
  </aside>
  
  <div class="col-md-8">
     <% if @user.driver_posts.any? %>
       <h3>My Driver Posts </h3>
        <ol class="driver_posts">
         <%= @driver_post %>
        </ol>
    <% end %>
  </div>
 
  </div>
</div>
