<% provide(:title, 'Detail') %>
<h1>Detail</h1>


<ul class="driver_post">
   <p>出発地 目的地 出発日時</p>
    <%= @driver_post.origin %>
    <%= @driver_post.destination %>
    <%= @driver_post.departure_date %>
</ul>

    <div>
      <%= link_to "交渉開始", negotiation_path, class: "btn btn-lg btn-primary" %>
    </div>