<div id="post-list">
<% @posts.each do |post| %>
  <div class="post">

    <div class="post-body">
      <%= post.content %>
    </div>
    <div class="post-footer">
      <%= link_to '削除', [@negotiation, post], method: :delete, data: { confirm: '本当によろしいですか？' } %>
    </div>
  </div>
<% end %>
</div>