<% provide(:title, 'All your negotiations') %>


<% if @negotiations.any? %>
      <h3><%= current_user.name %>さんの交渉中コンテンツ(<%= @negotiations.count %>)</h3>
      <ol class="negotiations">
        <%= render @negotiations %>
      </ol>
<% end %>