<% provide(:title, 'All your negotiations') %>
<h1>All your negotiations</h1>

<ul>
    <% @negotiations.each do |negotiation| %>
        <li>
            <%= link_to negotiation.title, negotiation %>
        </li>
    <% end %>        
</ul>