<!--　今これは使っていない　-->




<%= form_for(@negotiation) do |f| %>

  <div class="field">
    <%= f.text_field :title, placeholder: "スレッドタイトルを入れてください" %>
  </div>
  <%= f.submit "交渉用のスレッド作成", class: "btn btn-lg btn-primary" %>

<% end %>